<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Add medicine here
    <form action="/api/add" method="post">
        <input type="text" name="name" id="" placeholder="name">
        <input type="text" name="dosage" id="" placeholder="dosage">
        <input type="text" name="frequency" id="" placeholder="frequency">
        <input type="hidden" name="<%=user.id %> ">
        <button type="submit">Add</button>
    </form>
</body>

</html>